body { 
    margin: 0; overflow: hidden; background: black;
}

canvas { 
    display: block; position: absolute; width: 100vw; height: 100vh; 
}

h1 {
    font-size: 50px;
    color: white;
    display: block;
    z-index: 100;
    margin-left: 40%;
    margin-top: 25%;
}

#score {
    font-size: 170px;
    color: lightgrey;
    position: absolute;
    width: 100%;
    z-index: 0;
    margin: auto;
    text-align: center;
    top: -60px;
    display: none;
    margin-top: 5%;
}

#start-game-button:hover {
    cursor: pointer;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

